* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.home_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1000;
}

.home_profile {
  height: 800px;
  width: 1400px;
  background-image: url("./images/stall_image_green.png");
  background-size: cover;
  background-position: center center;
  z-index: -500;
  position: relative;
}

.home_logo {
  height: 60px;
  width: 80px;
  z-index: -300;
  position: absolute;
  left: 29.5%;
  top: 2%;
}

.home_banner {
  height: 395px;
  width: 695px;
  background-image: url("./images/banner.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -300;
  bottom: 12%;
  left: 23%;
}

.home_button {
  height: 65px;
  width: 330px;
  background-image: url("./images/button.png");
  background-size: cover;
  background-position: center center;
  z-index: -300;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
